POSTMASTER_ADDRESS=info@domain.tld
FQN_HOSTNAME=mail.domain.tld

RSPAMD_PASSWORD=senrealnaernae_please_change

MYSQL_ROOT_PASSWORD=3sb3a74ul4a4lhk_please_change
MYSQL_DATABASE=vmail
MYSQL_USER=vmail
MYSQL_PASSWORD=esdDa8dea3D443.b_please_change
MYSQL_HOSTNAME=mailserver-mariadb
